html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
   }

:root{
    --lgreen: #c5d5cb;
    --lgrey: #9fa8a3;
    --lcream: #e3e0cf;
}
