html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

p {
    margin: 0 1rem 0 1rem;
    font-size: 18px;
}


/*pc*/
@media (min-width: 900px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
}

b{
font-weight: 800;
}

i{
font-style: italic;
}

u{
text-decoration: underline;
}

s{
text-decoration: line-through;
}

small{
font-size: 0.75rem;
}