:root {
    --black: #0b0c10;
    --dblue: #1f2833;
    --lgrey: #c5c6c7;
    --nblue: #66fcf1;
    --gblue: #45a29e;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

p {
    margin: 0 1rem 0 1rem;
    font-size: 18px;
}



h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}


b {
    font-weight: 800;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

small {
    font-size: 0.75rem;
}

mark {
    background-color: var(--gblue);
    color: white;
}


ul {
    list-style: square;
}

ol {
    list-style: decimal;
}


q {
    font-style: italic;
}

blockquote {
    font-style: italic;
    border-left: 0.2em solid var(--gblue);
    padding: 1rem
}


table {
    width: 100%;
}

th,
td {
    background-color: var(--gblue);
    padding: 0.7rem;
}

button, .btn {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 1rem;
    color: white;
    background-color: var(--gblue);
    border: none;
}

.btn-outline {
    background-color: transparent;
    border: 0.1em solid var(--gblue);
}

.btn-outline:hover{
    background-color: var(--gblue);
    transition: 0.3s linear;
}

.btn-normal:hover {
    color: var(--lgrey);
    transition: 0.3s linear;
}

.btn-normal:not(:hover) {
    transition: 0.3s linear;
}

.btn-outline:not(:hover) {
    transition: 0.3s linear;
}

pre{
    border-left: 0.2em solid var(--lgrey);
}

code{
    display: block;
    background-color: var(--gblue);
    max-width: 500px;
}

figure {
    display: block;
    width: 500px;
    margin-bottom: 1em;
}

figure a {
    display: block;
}

figure img {
    width: 70%;
    height: auto;
}

figure figcaption {
    font-size: 15px;
    border-left: 0.1em solid var(--lgrey);
    padding-left: 0.5em;
}
