:root {
    --black: #0b0c10;
    --dblue: #1f2833;
    --lgrey: #c5c6c7;
    --nblue: #66fcf1;
    --gblue: #45a29e;
}

body {
    color: white;
    background-color: var(--black);
}

section{
    padding: 1.5em 0.5em;
    max-width: 1200px;
}

::selection{
    background-color: var(--gblue);
}

.page-header {
    background-color: var(--black);
    border-bottom: var(--nblue) medium solid;
}

.page-header__element2__modificator li {
    list-style: none;
}

.page-header__element2__modificator li a {
    display: block;
    text-decoration: none;
    color: var(--lgrey);
    padding: 0.5em;
}

.page-header__element2__modificator li a:hover {
    color: var(--gblue);
    transition: 0.3s;
}

.page-header__element2__modificator li a:not(:hover) {
    transition: 0.3s;
}

.page-header__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header__element2__modificator {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.page-header__element1 {
    margin-left: 1rem;
    color: var(--nblue);
}

.page-container {
    background-color: var(--black);
}

.page-container__element1{
    display: inline-block;
    position: relative;
    padding-bottom: 0.2em;
    padding-top: 1em;
    margin: 0;
    margin-bottom: 1em;
    margin-left: 1rem;
}


.page-container__element1::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nblue);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out
}

.page-container__element1:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page-container__element2{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.page-container__element2__modificator{
    margin: 0;
    padding: 1rem;
}

.page-container__element2__modificator:hover{
    color: var(--gblue);
    transition: 0.3s;
}

.page-container__element2__modificator:not(:hover){
    transition: 0.3s;
}

.page-container2 h3{
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1em;
}

.page-container2 p{
    margin-bottom: 1rem;
}

.page-container2__element1 ul{
    padding: 0;
}
.page-container2__element1 li{
    list-style: none;
    padding: 0.5em 0 0.5em 1rem;
}

.page-container2__element2{
    display: flex;
    flex-direction: row;
}




