body{
    background-color: var(--lgreen);
}

.page-header{
background-color: var(--lcream);
}

.page-header__element2__modificator li{
    list-style: none;
}

.page-header__element2__modificator li a{
    display: block;
    text-decoration: none;
    color: var(--lgrey);
    padding: 0.5em;
}

.page-header__element2__modificator li a:hover{
    color: black;
    transition: 0.3s;
}

.page-header__element2__modificator li a:not(:hover){
    transition: 0.3s;
}

.page-header__element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header__element2__modificator{
    display: flex;
    flex-direction: row;
    margin-right: 0.5em;
}

.page-header__element1{
    margin-left: 0.5em;
}

.page-container{
    margin-left: 2.5em;
    margin-right: 0.5em;
}

.page-container h2:first-child{
    border-bottom: var(--lgrey) thin solid;
    padding-bottom: 0.2em;
}